.btn-container button {
    background-color: #00285F;
    height: 40px;
    text-transform: uppercase;
    border-radius: 5px;
    width: 174px;
}

.btn-container button:hover{
    background-color: #00285F;
}

.btn h6 {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
}

@media (min-width: 576px) {
    .btn h6 {
        font-size: 14px;
    }
}